body{
    background-color: #ffeeca;
    color: black;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
    font-weight: 1.25rem;
}

img{
border-radius: 40px;
height: 250px;
}

input,button{
    background-color: blanchedalmond;
    color: black;
    width: 200px;
    height: 30px;
}
